.navbar-brand {
    font-size: 1.5rem !important;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin-top: 10px;
}

.eform {
    background-color: #F5F5F5;
}

.enq-form label {
    display: block;
}

.book-form label {
    display: block;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.site-view {    
        object-fit: cover;     
  }
