/* Import cool fonts, Lato one of the most commonly used */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    font-family: Lato, sans-serif;
}

.navbar-brand h1{
    font-size: 4vw !important;
}


p {
    font-family:Lato, sans-serif;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin-top: 10px;
}

.eform {
    background-color: #F5F5F5;
}

.enq-form label {
    display: block;
}

.book-form label {
    display: block;
}

.btn-signup {
    background-color: #23BBBB !important;
    color: #fff !important;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff !important;
    color: #23BBBB !important;
}

.site-view {        
    vertical-align: top;
  }

#book-heading a {
    color: #fff;
}

@media(min-width:380px) {
    .size-heading h1 {
        font-size: 2vw !important;
    }
}
