/* Import cool fonts, Lato one of the most commonly used */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
    font-family: Lato, sans-serif;
}

p {
    font-family:Lato, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem !important;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin-top: 10px;
}

.eform {
    background-color: #F5F5F5;
}

.enq-form label {
    display: block;
}

.book-form label {
    display: block;
}

.btn-signup {
    background-color: #23BBBB !important;
    color: #fff !important;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff !important;
    color: #23BBBB !important;
}

.site-view {        
    vertical-align: top;
  }

#book-heading a {
    color: #fff;
}
