{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="{% static 'js/mycode.js' %}"></script> 
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
       
    <title>West Clare Motorhome Park</title>
    </head>
<body>
    <!-- Create a header to extend to all templates W3 schools example used, collapsible for mobile -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-lg-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'get_index_form' %}"><i class="fa-solid fa-caravan"></i> West Clare Motorhome Park</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'get_index_form' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'get_explore_form' %}">Explore Locally</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'get_enquiry_form' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'get_comment_form' %}">Leave a comment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'get_booking_form' %}">Make a booking</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}  


    {% endblock%}   
    
    <footer class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">About Us</h5>
                <p class="inline-block">
                    We are a motorhome park situated in the West of Ireland along what is known as the wild Atlantic
                    Way. We are a family run business and pride ourselves in the care we take of our visitors. Please
                    contact us with any questions or requests you may have.
                </p>
            </div>
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">Contact Us</h5>
                <p class="inline-block">
                    Need us in a hurry ? Please ring +353871111999 otherwise please contact us here..
                    <a class="nav-link" href="{% url 'get_enquiry_form' %}" target="_blank" ><u>Contact Us</u> 
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">Social</h5>
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com/">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://twitter.com/">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <span class="sr-only">LinkedIn</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.pinterest.com/">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                            <span class="sr-only">Pinterest</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com/">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.youtube.com/">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
   
 
    
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
<script src="https://kit.fontawesome.com/4e53ad1a4a.js" crossorigin="anonymous"></script>
</body>
</html>

