{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid p-2 text-info text-center">  
  {% include 'messages.html' %}
  <!--Show user bookings, enable edit and delete-->
  <div class="row">
    <div class="col-12 col-md-6">
      <h1 class="text-center text-black">Bookings for customer {{ user.username }}</h1>
      <ul>
      {% for booking in bookings %}
          <h5>{{ booking }}
            <p class="float-left text-success">Arrival date: {{ booking.date_arrive}}</p>
            <p class="text-left text-success">Adults: {{ booking.adults_num }}</p>
            <p class="text-left text-success">Children: {{ booking.child_num }}</p>
            <small class="ml-3">
              <a href="{% url 'get_modify_booking_form' booking.id %}">  Edit</a> |
              <a class="text-danger" href="{% url 'cancel_booking' booking.id %}">  Delete</a>
            </small>                          
          </h5>
          <br>
          <hr>
      {% empty %}
          <h3>No existing bookings for customer {{ user.username }}</h3>
      {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-md-6 bg-light text-black text-center">
      <h3 >Online Booking Form</h1>
      <form class="book-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-signup">Make Booking</button>           
      </form>         
    </div>
  </div>
  {% else %}
  <div class="jumbotron  text-center bg-light border-rounded">
    <h1 class="display-4">Make a Booking!</h1>
    <p class="lead">In order to make a booking please sign up or login <a href="{% url 'account_login' %}"> here</a> first! Thank you!</p>
    <a class="btn btn-primary btn-lg" href="{{ '/' }}" role="button">Home</a>
    <hr class="my-4">
  </div>
</div>

  {% endif %}

  {% endblock %}
