{% extends 'base.html' %}

{% block content %}

{{user.username}}


{% if user.is_authenticated %}

<div class="container-fluid p-2 bg-primary text-white text-center">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center">
      <h1>To make a booking please fill out the form below</h1>
      <h3>To cancel an existing booking please click><a href="{% url 'get_cancel_booking_form' %}"> here</a></h3>
      <h3>To make a change to an existing booking please click><a href="{% url 'get_modify_booking_form' %}"> here</a></h3>
    </div>
  </div>

</div>

<div class="container-fluid p-2 bg-primary text-white text-center">
  <h1>Book with us!</h1>
  <p >To make a booking please Login</p>
  <p><i class="fa-solid fa-phone"></i> +353-87-1111999</p> 
  <p><i class="fa-regular fa-envelope"></i> claremohosite.ie</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center">
      <h1 >Booking Form</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6  mx-auto">
      <form class= "book-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id = "book-button" >Check Availability</button>           
      </form>         
    </div>
  </div>  
</div>

{% else %}
<div class="jumbotron  text-center bg-light border-rounded">
  <h1 class="display-4">Make a Booking!</h1>
  <p class="lead">In order to make a booking please sign up or login <a href="{% url 'account_login' %}"> here</a> first! Thank you!</p>
<a class="btn btn-primary btn-lg" href="{{ '/' }}" role="button">Ok</a>
  <hr class="my-4">
</div>

{% endif %}

{% endblock %}
